@tailwind base;
@tailwind components;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 font-sans;
}

button {
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: 0;
}

@tailwind utilities;